*.txt
!robots.txt
.idea/*
bdd_backup/*
temp/*
cache/*
vendor/*
.sass-cache*
**/.sass-cache/*
.sass-cache/
*.scssc
modules/*
*.ini
*.lock
!modules/creer-module.md
*.map
node_modules/*
.ftppass
path_srv.json