<header>
	<div class="inner">
		<h1>Gestion des droits d'accès | modification de la liste {{ app.nom_liste }}</h1>
	</div>
</header>
{% if app.super_admin == 1 or "GESTION DROIT ACCES" in app.droit_acces_user  %}
	{% include("gestion-droits-acces/header.html") %}
	<link rel="stylesheet" type="text/css" href="{{LIBSWEBROOT}}checkbox/css/style.css">
	<script src="{{LIBSWEBROOT}}checkbox/js/anim.js"></script>
	{% include("gestion-droits-acces/js/check_droit.html") %}
	
	<div class="inner">
		<div class="contenu modifier-contenu gestion-comptes configuration">
			<table>
				<thead>
					<tr>
						<td>Drtoi d'accès</td>
						<td>Nom du module</td>
						<td>Activé</td>
					</tr>
				</thead>
				<tbody>
					{% for i in app.droit_acces %}
						<tr>
							<td>{{ i.droit_acces }}</td>
							<td>{{ i.nom_module }}</td>
							<td>
								<label for="droit-{{ i.id_droit_acces }}-{{ app.id_liste }}" class="checkbox-perso switched">
									<input type="checkbox" class="valide" id="droit-{{ i.id_droit_acces }}-{{ app.id_liste }}" {% if i.droit_acces in app.droit_acces_liste %}checked{%   endif %}>
								</label>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% else %}
	<div class="inner">
		<div class="contenu modifier-contenu">
			<h2>Vous n'avez pas accès à cette fonctionnalité</h2>
		</div>
	</div>
{% endif %}