<nav class="nav-page">
	<div class="inner">
		<ul>
			{% for i in app.navigation %}
				<li><a href="{{ ADMWEBROOT }}gestion-contenus/modifier-contenu?id={{ i.id }}&url={{ i.url }}">{{ i.titre }}</a>
					{% if i.sous_menu|length > 0 %}
						<ul>
							{% for x in i.sous_menu %}
								<li><a href="{{ ADMWEBROOT }}gestion-contenus/modifier-contenu?id={{ x.id }}&url={{ x.url }}">{{ x.titre }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
<script src="{{WEBROOT}}admin/views/gestion-contenus/js/contenu.js"></script>

<div class="popup" id="supprimer-page">
	<div class="content">
		<h2>Etes-vous sûr de vouloir supprimer cette page ?</h2>
		<p>Si vous la supprimée, tous les liens qui y sont associés renverront une erreur, la page et son contenu textuel seront supprimés.<br/>
			Les images qui la compose seront quant à elle sauvegardées.
		</p>

		<div class="lien">
			<a class="annuler">Annuler</a>
			<a href="" class="valider">Valider</a>
		</div>
		<div class="clear"></div>
	</div>
</div>