<header>
	<div class="inner">
		<h1>Gestion des contenus : </h1>
		<h2>Modification de la page {{titre_courant}}</h2>
	</div>
</header>
{% include("gestion-contenus/header.html") %}

{% if app.super_admin == 1 or "GESTION CONTENUS" in app.droit_acces_user  %}
	<form action="{{ADMWEBROOT}}controller/core/admin/contenus/gestion/modifier_contenus" method="post">
		{% if app.super_admin == 1 or app.droit_acces_page.seo == 1 or app.droit_acces_page.navigation == 1  %}
			<button type="submit" class="submit-contenu" type="submit"><i class="fa fa-check"></i>Valider</button>
		{% endif %}

		<input type="hidden" name="id_page" value="{{ app.contenus.id_page }}">
		<input type="hidden" name="url_avant" value="{{ app.contenus.url }}">
		
		{% if id != 1 and app.droit_acces_page.supprimer == 1 or app.super_admin == 1 %}
			<button id="supprimer-page-contenu" type="button" class="submit-contenu supprimer-page supprimer open-popup" popup="supprimer-page" href="{{ADMWEBROOT}}controller/core/admin/contenus/gestion/supprimer_page?id={{app.contenus.id_page}}"><i class="fa fa-times"></i>Supprimer cette page</button>
		{% endif %}
	
		<div class="inner">
			{% if app.super_admin == 1 or app.droit_acces_page.seo == 1 %}
				<section class="contenu modifier-contenu">
					<h2>Partie concernant le référencement SEO</h2>
					<div class="colonne">
						<div class="bloc">
							<label class="label" data-error="Le titre pour le navigateur doit être entre 10 et 70 caractères" for="balise_title">Titre pour le navigateur</label>
							<input type="text" name="balise_title" type-val="string" min="10" max="70" value="{{app.contenus.balise_title}}" required=""/>
						</div>
					</div>
					<div class="colonne">
						<div class="bloc">
							<label class="label" for="url" data-error="L'url doit être comprise entre 3 et 92 caractères">Url affichée dans le navigateur</label>
							<input type="text" name="url" type-val="string" min="3" max="92" value="{{url}}" {% if app.contenus.id_page == 1 %}disabled{% endif %}/>
						</div>
					</div>
					{% if redirect_page == false %}
						<div class="bloc no-input">
							<label class="label label-textarea" for="meta_description" data-error="La description doit être comprise entre 10 et 158 caractères">Description de votre site pour le navigateur (maximum 256 caractères)</label>
							<textarea name="meta_description" type-val="string" min="10" max="158" required="">{{app.contenus.meta_description}}</textarea>
						</div>
					{% endif%}
				</section>
			{% endif %}
	
			{% if app.super_admin == 1 or app.droit_acces_page.navigation == 1 %}
				<section class="contenu modifier-contenu">
					<h2>Partie concernant l'affichage dans la navigation</h2>
					<div class="colonne">
						<div class="bloc">
							<label class="label" for="titre_page" data-error="Le titre de la page doit être entre 5 et 50 caractères">Titre de la page (utilisée pour le menu)</label>
							<input type="text" name="titre_page" type-val="string" min="5" max="50" value="{{app.contenus.titre}}" required=""/>
						</div>
					</div>
					<div class="colonne">
						<div class="bloc parent">
							<label class="label" for="parent_texte">Parent de la page</label>
							<input type="hidden" name="parent" value="{{app.contenus.parent_courant}}"/>
							<input type="text" name="parent_texte" value="{{app.contenus.texte_parent_courant}}"/>
						</div>
					</div>
				</section>
			{% endif %}
	
			{% if (app.super_admin == 1 or app.droit_acces_page.contenu == 1) and app.contenus.redirect_page != 1 %}
				<section class="contenu modifier-contenu">
					<h2>Partie concernant l'affichage dans le navigateur</h2>
	
					<p>En cliquant sur le lien ci-dessous, vous verrez un aperçu de la page. Pour modifier des contenus, il vous suffira de cliquer
						sur du texte, et si il est modifiable, vous pourrez l'éditer.
					</p>
	
					<a class="submit-contenu submit-standard inline no-shadow ml0" href="{{ADMWEBROOT}}gestion-contenus/inline?id={{app.contenus.id_page}}&url={{ app.contenus.url }}">Modifier les contenus</a>
				</section>
			{% endif %}
			
			{% if app.super_admin !=1 and app.droit_acces_page.navigation != 1 and app.droit_acces_page.seo != 1 %}
				<div class="contenu modifier-contenu">
					<h2>Vous n'avez pas lautorisation de modifier cette page</h2>
				</div>
			{% endif %}
		</div>
	</form>
{% else %}
	<div class="inner">
		<div class="contenu modifier-contenu">
			<h2>Vous n'avez pas accès à cette fonctionnalité</h2>
		</div>
	</div>
{% endif %}