/*@font-face {
	font-family: Impact;
	src: url('../police/impact.ttf');
}*/


body {
	font-family: verdana;
}

.inner {
	width: 1180px;
	margin: auto;
}

.colonne {
	display: table-cell;
	vertical-align: top;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: inherit;
}

.separation, .espacement {
	width: 100%;
	height: 20px;
}



/*--------------------------------------------- HEADER STYLES --------------------------------------------------- */



/*--------------------------------------------- PAGES STYLES --------------------------------------------------- */
@import "page.scss";