@import "variables.scss";


body {
	font-family: verdana;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: inherit;
}

.separation, .espacement {
	width: 100%;
	height: 20px;
}



/*--------------------------------------------- HEADER STYLES --------------------------------------------------- */
@import "nav-responsive";


/*--------------------------------------------- PAGES STYLES --------------------------------------------------- */
@import "page.scss";


/*--------------------------------------------- MODULES STYLES --------------------------------------------------- */
@import "../../../../modules/modules";